@charset "utf-8";

* {
	box-sizing: border-box;
}

/* Základní styly pro stránku */
body {
	background-color: #F7F7F7;
	margin-top: 0em;
}

#menu {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 199;
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	/* Vertikální zarovnání na střed */
	padding: 0.5em 1em;
	margin: auto;
	height: 50px;

}


nav {
	display: flex;
	/* Flexbox pro horizontální zarovnání */
	gap: 1em;
	/* Menší mezera mezi tlačítky */
	font-size: 1.2em;
	/* Základní velikost textu */
	flex-grow: 1;
	/* Umožní tlačítkům zabrat zbývající prostor */
	justify-content: flex-end;
	/* Zarovnat tlačítka doprava */
	align-items: center;
	/* Vertikální zarovnání na střed */
}

.separator {
	font-size: 1.2em;
	/* Velikost písma stejná jako pro tlačítka */
	color: black;
	/* Barva textu */
	margin: -1em;
	/* Mezera na obou stranách */
	line-height: 50px;
	/* Vertikální zarovnání na střed */
}



#menu-content {
	display: flex;
	align-items: center;
	/* Vertikální zarovnání na střed */
	flex-grow: 1;
	/* Umožní obsahu expandovat do zbývajícího místa */
}

#menu nav {
	display: flex;
	gap: 2em;
	/* Mezera mezi tlačítky */
	font-size: 1.2em;
	/* Základní velikost textu */
}

#menu nav div {
	cursor: pointer;
	/* Změní kurzor na ukazatel při najetí */
}

#menu nav a {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

#menu nav a:hover {
	font-weight: bold;
}

/* Nová třída pro border */
#menu::after {
	content: "";
	/* Pseudo-element potřebuje obsah */
	position: absolute;
	/* Umožní mu se posunout na pozici */
	left: 5em;
	/* Zarovnat doleva */
	right: 5em;
	/* Zarovnat doprava */
	bottom: 0em;
	/* Dole */
	height: 0.5px;
	/* Výška spodní hrany */
	background-color: #C1C1C1;
	/* Barva spodní hrany */
}

#logo {
	display: flex;
	align-items: center;
}

#logo img {
	margin-right: 10px;
}

#logo h1 {
	margin: 0;
}

#menu label,
#menu input {
	display: none;
}

nav {
	display: flex;

}









#obsah-stranky {
	background-color: white;
	text-align: start;
	font-family: 'Roboto', sans-serif;
	padding-top: 1em;
	margin-top: -0.3em;
	margin: auto;

}


h1 {
	text-transform: uppercase;
	/* Převod na velká písmena */
	letter-spacing: 1.5px;
	/* Prostrkání */
	font-size: 1.5em;
	margin-bottom: 5px;
	margin-top: 0em;

}



nav div {
	/* Pokud potřebuješ specifické styly pro jednotlivá tlačítka */
	cursor: pointer;
	/* Změní kurzor na ukazatel při najetí */
}

nav a {
	text-decoration: none;
	color: black;
	
}



a {
	color: black;
	text-decoration: none;
}



.hlavni {
	background-color: white;
	margin: auto;
	/*vycentruje na střed monitoru*/
	text-align: center;
	padding-top: 0em;
	display: flex;
	/*převede blokové prvky na řádkové*/
	flex-wrap: wrap;
	/*vytvoří symetrickou mřížku*/
	justify-content: flex-start;
	/*vycentrování mřížky*/

}

.text-serie {
	padding-top: 1em;
	padding-bottom: 0.3em;
	
}

.text-obrazku {
    text-align: left;
	font-size: 0.8em;
	
}

.hlavni>div {
	height: 125px;
	/*VELIKOST OBRÁZKŮ!!!!!!!!!!!!!!!!!!!!!!*/
	background-color: white;
	margin: 0.8px;
}

.hlavni>div>a>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*přizpůsobuje objekty s různým poměrem stran*/
}

.hlavni>div>a>img:hover {
	transition: all 0.2s;
	filter: brightness(80%);
}


p {
	text-align: left;
	font-size: 1em;
	line-height: 1.5em;
}



.bold {
    font-weight: bold;
}

.Obrazek_text_maly {
	font-size: 0.8em;
	font-weight: lighter;
}

.Obrazek_text {
	padding-left: 9.5em;
	padding-top: 0.5em;
}


nav {
	display: flex;
	align-items: center;
}

.konec {
	border-top: 0.5px solid #C1C1C1;
	text-align: left;
	font-size: 0.8em;
	padding-bottom: 10px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#menu,#obsah-stranky {
    animation: fadeIn 0.8s ease-in-out;
}

/* Break pointy pro různé šířky obrazovek */
@media screen and (max-width: 7680px) {

	#menu,
	#obsah-stranky {
		width: 60%;
		padding: 0.5em 5em 0em 5em;
	}


}



@media screen and (max-width: 3840px) {

	#menu,
	#obsah-stranky {
		width: 60%;
		padding: 0.5em 5em 0em 5em;
	}

}

@media screen and (max-width: 1920px) {

	#menu,
	#obsah-stranky {
		width: 70%;
		padding: 0.5em 5em 0em 5em;
	}

}

@media screen and (max-width: 1366px) {

	#menu,
	#obsah-stranky {
		width: 80%;
		padding: 0.5em 5em 0em 5em;
	}

	@media screen and (max-width: 1024px) {

		#menu,
		#obsah-stranky {
			width: 90%;
			padding: 0.5em;
		}

		#menu::after {
			left: 0em;
			/* Zarovnat doleva */
			right: 0em;
			/* Zarovnat doprava */
		}



	}

	@media screen and (max-width: 768px) {

		/* Show Hamburger Icon */
		#menu label {
			position: absolute;
			right: 20px;
	
			display: inline-block;
			color: black;
			font-style: normal;
			font-size: 2em;
			padding: 10px;
            padding-top: 5px;
			align-items: center;
			z-index: 150;
			
		}
		#menu nav {
			display: none; /* Ve výchozím stavu je skryto */
			position: absolute;
			top: -10px; /* Zarovnání pod menu */
			left: 0; /* Na začátek obrazovky */
			right: 0; /* Na konec obrazovky */
			width: 100%; /* Zabere celou šířku obrazovky */
			z-index: 150; /* Nad ostatními prvky */
			padding-top: 0px;
			padding-bottom: 0px;
			border-bottom: 0.5px solid #C1C1C1;
		}
	
		/* Když je hamburger aktivní */
		#menu input:checked ~ nav {
			display: block;  /* Zobrazí nav */
			animation: slideDown 0.5s ease-out forwards;  /* Animace pro pohyb zhora */
			position: absolute;  /* Upevní menu na pozici */
			top: 0;  /* Zajistí, že bude nahoře */
			left: 0;
			right: 0;
			background-color: white;
			z-index: 150;  /* Zajistí, že bude nad ostatními prvky */
			
		}


		/* Přizpůsobení vnitřního obsahu nav */
		nav a,
		nav p,
		nav .separator {
			display: block; /* Každý odkaz na nový řádek */
			text-align: left; /* Zarovnání vlevo */
			width: 100%; /* Zabírá celou šířku rodiče */
			margin: 0.5em 0; /* Mezera mezi odkazy */
		}

		

		#hamburger:checked~nav .separator {
			display: none;
			/* Skryje .separator */
		}


		#obsah-stranky {
			width: 100%;
			padding: 0.5em;
			transition: transform 0.5s ease-in-out;
		}

		#menu::after {
			content: "";
			position: absolute;   /* Aby bylo možné ho posunout nad obsah */
			left: 0em;
			right: 0em;
			bottom: 0em;
			height: 0.5px;
			background-color: #C1C1C1;
			z-index: 200;         /* Vyšší než pro animované menu */
		}

		nav {
			background-color: white;
			padding: 15px;
			z-index: 150;
			margin-top: 50px;

		}
		#menu {
			background-color: white; /* Bílé pozadí pro celý element */
			width: 100%;

		}
		
		#menu div {
			background-color: white; /* Pokud chcete pozadí i pro tento vnitřní div */
			padding-bottom: 9px;
			padding-top: 11px;
			padding-left: 0;
		}

		#menu label:hover {
			font-weight: bold;
			cursor: pointer;
			/* Změní kurzor na ukazatel při najetí */
		}

		

		@keyframes slideDown {
			0% {
				transform: translateY(-100%);  /* Začátek animace - menu je nad obrazovkou */
				opacity: 0;  /* Menu je neviditelné */
			}
			100% {
				transform: translateY(0);  /* Konec animace - menu je na své pozici */
				opacity: 1;  /* Menu je plně viditelné */
			}
		}
		


		@media screen and (max-width: 523px) {

			#menu,
			#obsah-stranky {
				width: 100%;
				padding: 0.5em;
			}

			#menu::after {
				left: 0em;
				/* Zarovnat doleva */
				right: 0em;
				/* Zarovnat doprava */
			}

		}

		@media screen and (max-width: 500px) {

			#menu,
			#obsah-stranky {
				width: 100%;
				padding: 0.5em;
			}

			#menu::after {
				left: 0em;
				/* Zarovnat doleva */
				right: 0em;
				/* Zarovnat doprava */
			}

		}

		@media screen and (max-width: 425px) {

			#menu,
			#obsah-stranky {
				width: 100%;
				padding: 0.5em;
			}

			#menu::after {
				left: 0em;
				/* Zarovnat doleva */
				right: 0em;
				/* Zarovnat doprava */
			}
			.hlavni>div {
				height: 105px;
				/*VELIKOST OBRÁZKŮ!!!!!!!!!!!!!!!!!!!!!!*/
				background-color: white;
				margin: 0.8px;
			}

		}


		@media screen and (max-width: 360px) {

			#menu,
			#obsah-stranky {
				width: 100%;
				padding: 0.5em;
			}

			#menu::after {
				left: 0em;
				/* Zarovnat doleva */
				right: 0em;
				/* Zarovnat doprava */
			}

			#menu label {
				position: absolute;
				right: 0px;
				display: inline-block;
				color: black;
				font-style: normal;
				font-size: 2em;
				padding: 10px;
				padding-top: 5px;
				align-items: center;
			}
			
		}


	}

	@media screen and (max-width: 300px) {

		#obsah-stranky {
			width: 100%;
			padding: 0.5em;
		}

		#menu::after {
			left: 0em;
			/* Zarovnat doleva */
			right: 0em;
			/* Zarovnat doprava */
		}
		#menu h1 {
			font-size: 0.7em;
		}

	}

	@media screen and (max-width: 280px) {

		#obsah-stranky {
			width: 100%;
			padding: 0.5em;
		}

		#menu::after {
			left: 0em;
			/* Zarovnat doleva */
			right: 0em;
			/* Zarovnat doprava */
		}
		#menu h1 {
			font-size: 0.7em;
		}
		#menu label {
			position: absolute;
			right: 0px;
			display: inline-block;
			color: black;
			font-style: normal;
			font-size: 1.5em;
			padding: 10px;
			padding-top: 0;
			align-items: center;
		}
	}

}